<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Farm Stand</title>
  </head>
  <body>
    <div class="container">
      <nav class="header">
        <div class="logo">
          <img src="/assets/farm.png" alt="farm logo">
          <h1>Farm Stand</h1>
        </div>
      </nav>
      <div class="categoryFilter">
        <!-- <h2><%= category %></h2> -->
        <form action="/products" method="GET">
          <select name="category" id="category" onchange="this.form.submit()">
            <option value="">All</option>
            <% categories.forEach(category => { %>
              <option value="<%= category %>" <%= category === selected ? 'selected' : '' %>>
                <%= category %>
            </option>
            <% }) %>
          </select>
        </form>
        <button class="button" id="newButton" data-url="/products/new">New Product</button>
      </div>
      <% if(products.length === 0) { %>
      <h3>No products found</h3>
      <% } %>
      <ul class="productList">
        <% products.forEach(product => { %>
        <li class="clickable-li" data-url="/products/<%= product._id %>">
          <strong><%= product.name %></strong> - $<%= product.price %>
          <a class="edit" href="/products/<%= product._id %>/edit">Edit</a>
          <br />
          <small><%= product.category %></small>
          <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
            <button class="button">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
