<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Show Product</title>
  </head>
  <body>
    <div class="showContainer">
      <div class="newContainer">
        <h1><%= product.name %></h1> 
        <div class="productInfo">
          <h2>Price: <small>$<%= product.price %></small></h2>
          <h2>Category: <small><%= product.category %></small></h2>
        </div>
        <div class="options">
          <button class="button" id="editButton" data-url="/products/<%= product._id %>/edit">Edit</button>
          <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
            <button class="button">Delete</button>
          </form>
        </div>
        <a href="/products">Menu</a>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
