<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Show Product</title>
  </head>
  <body>
    <div class="showContainer">
      <strong><%= product.name %></strong> 
      <div class="productInfo">
        <p>Price: $<%= product.price %></p>
        <p>Category: <%= product.category %></p>
      </div>
      <div class="options">
        <a class="button" href="/products/<%= product._id %>/edit">Edit</a>
        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
          <button class="button">Delete</button>
        </form>
      </div>
      <a href="/products">Back</a>
    </div>
  </body>
</html>
